<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet" />
  <title>Mypage</title>
  <style>
    * {
      box-sizing: border-box;
    }
    body {
      font-size: 14px;
      overflow: scroll;
      font-family: 'Cairo', sans-serif; /* 폰트 추가 */
      background-color: #f9f9f9; /* 배경색 추가 */
      margin: 0; /* 기본 마진 제거 */
    }

    textarea {
      border: 1px solid rgba(83 , 52 , 129);
      border-radius: 8px;
    }

    .frame-container {
      top: 100px;
      left: 0;
      width: 100%;
      height: calc(100% - 110px); /* 헤더 공간 제외 */
      position: absolute;
      display: flex; /* 플렉스 박스 사용 */
    }
    .menu-bar {
      display: flex;
      flex-direction: column; /* Arrange items in a column */
      width: 15%;
      height: 100%;
      background-color: #fff;
      border: 2px solid rgba(232, 217, 255);
      border-radius: 1em;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .menu-bar h2 {
      margin-top: 0; /* 제목 마진 제거 */
      color: #6f42c1; /* 제목 색상 변경 */
    }
    .menu-item {
      margin: 15px 0; /* 메뉴 항목 사이 여백 */
      padding: 10px;
      border-radius: 5px;
      transition: background-color 0.3s; /* 배경색 전환 효과 */
    }
    .menu-item:hover {
      background-color: rgba(232, 217, 255, 0.5); /* 마우스 오버 시 효과 */
    }
    .withdrawal {
      font-size: 12px; /* Smaller font size */
      color: #999; /* Light grey color */
      margin-top: auto; /* Push the button to the bottom */
      text-align: center;
      cursor: pointer;
    }


    .withdrawal:hover {
      color: #dc3545; /* Change color to red on hover */
    }

    .content {
      flex: 1; /* 남은 공간을 채우기 위해 설정 */
      padding: 20px; /* 여백 추가 */
      background-color: #ffffff; /* 콘텐츠 배경색 */
      border-radius: 1em; /* 둥근 모서리 */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
      margin-left: 20px; /* 메뉴와의 간격 */
    }
    .submit-btn {
      background-color: rgba(232 , 217 , 255);
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      margin-top: 10px;
      margin-left: 0px;
      cursor: pointer;
    }

    .submit-btn:hover {
      background-color: rgba(209, 178, 255);
    }

    .table-class {
      /*top: 15%;*/
      left: 12%;
      width: 75%;
      position: relative; /* 테이블의 위치를 상대적으로 설정 */
      border-radius: 8px;
      border: 1px solid rgba(232 , 217 , 255);
    }
    tr {
      height : 40px;
      text-align: center;
    }
    .table-header-text-title {
      width: 80%;
      text-align: center;
      font-weight: bold;
    }

    .table-header-text-date {
      width: 20%;
      text-align: center;
      font-weight: bold;
    }

    /* 이전, 다음 버튼 스타일 */
    #pagination-container {
      margin-top: 10px;
      text-align: center; /* 중앙 정렬 */
    }

    #post-prev-page-btn, #post-next-page-btn, #comments-next-page-btn, #comments-prev-page-btn {
      background-color: rgba(232, 217, 255);
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      margin: 10px;
      cursor: pointer;
    }

    #post-prev-page-btn:hover, #post-next-page-btn:hover, #comments-next-page-btn:hover, #comments-prev-page-btn:hover {
      background-color: rgba(209, 178, 255);
    }

    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
    }

    /* 모달 콘텐츠 */
    .modal-content {
      background-color: white;
      margin: 5% auto;
      padding: 20px;
      border: transparent;
      width: 50%;
      border-radius: 10px;
      max-height: 80%; /* Set a max height for the modal */
      overflow-y: auto; /* Enable vertical scrolling */
    }

    input {
      border: 1px solid rgba(83 , 52 , 129);
      border-radius: 8px;
    }

    .comment-list {
      max-height: 200px;
      overflow-y: auto;
      margin-bottom: 15px;
      border-top: 1px solid #eee;
      padding-top: 10px;
    }

    .comment {
      margin-bottom: 10px;
    }

    .comment-author {
      font-weight: bold;
      color: #333;
    }

    .comment-text {
      margin: 5px 0;
      color: #555;
    }

    .close-modal {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close-modal:hover,
    .close-modal:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    .my-post-detail-btn-div {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
    }

    .my-post-detail-btn {
      background-color: rgba(232, 217, 255);
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      margin-left: 10px;
      cursor: pointer;
    }

    #my-post-edit-btn:hover, #my-post-save-btn:hover {
      background-color: rgba(209, 178, 255);
    }

    #my-post-delete-btn:hover {
      background-color: rgba(255, 100, 100);
    }

    .comment-btn-div {
      display: flex;
      justify-content: flex-end;
    }

    .comment-btn {
      margin-top: 10px;
      border: none;
      background-color: white;
      color: darkgray;
    }

    #cCommentEdit:hover,
    #aCommentEdit:hover {
      color: black;
    }

    #cCommentEditCancel:hover,
    #aCommentEditCancel:hover {
      color: black;
    }

    #cCommentEditSave:hover,
    #aCommentEditSave:hover {
      color: black;
    }

    #cCommentDelete:hover,
    #aCommentDelete:hover {
      color: red;
    }

  </style>
</head>
<body>
<th:block layout:fragment="header" th:include="@{fragments/header}"></th:block>
<div class="frame-container">
  <div class="menu-bar" id="menu-bar">
    <h2>Mypage</h2>
    <div class="menu-item" id="update-info-btn">회원정보 수정</div>
    <div class="menu-item" id="my-posts-btn">내 포스트</div>
    <div class="menu-item" id="my-comments-btn">내 댓글</div>
    <div class="withdrawal" id="withdrawal-btn">회원탈퇴</div>
  </div>
  <div class="content" id="content">
    <h2>안녕하세요!</h2>
    <p>회원 정보를 수정하거나 내가 쓴 글, 댓글을 관리할 수 있습니다.</p>
  </div>

  <!--  내 포스트 상세보기 모달 -->
  <div id="myPostDetailModal" class="modal">
    <div class="modal-content">
      <span class="close-modal" id="myPostDetailModalClose">&times;</span>
      <h3></h3>
      <h3 for="edit-title" id="label-title"><span id="my-post-detail-title"></span></h3><br>
      <label for="edit-content" id="label-content"><span id="my-post-detail-content"></span></label><br><br>

      <p id="my-post-detail-author">작성자: OOO</p>
      <p id="my-post-detail-date">등록일: YYYY-MM-DD</p>

      <!-- 수정 및 삭제 버튼 -->
      <div class="my-post-detail-btn-div">
        <button class="my-post-detail-btn" id="my-post-edit-btn">수정</button>
        <button class="my-post-detail-btn" id="my-post-delete-btn">삭제</button>
        <button class="my-post-detail-btn" id="my-post-save-btn" style="display: none;">저장</button>
      </div>

      <!-- 댓글창 -->
      <div class="comments-section">
        <h3>댓글</h3>

        <!-- 기존 댓글 -->
        <div class="comment-list" id="myPostCommentList">
        </div>
      </div>
    </div>
  </div>

  <!-- Community 포스트 댓글 상세 보기 모달 -->
  <div id="detailCModal" class="modal">
    <div class="modal-content">
      <span class="close-modal" id="detailCModalClose">&times;</span>
      <h3></h3>
      <h3 for="edit-title" id="label-Ctitle"><span id="detail-Ctitle"></span></h3><br>
      <label for="edit-content" id="label-Ccontent"><span id="detail-Ccontent"></span></label><br><br>

      <p id="detail-Cauthor">작성자: OOO</p>
      <p id="detail-Cdate">등록일: YYYY-MM-DD</p>

      <!-- 댓글창 -->
      <div class="comments-section">
        <h3>댓글</h3>

        <!-- 기존 댓글 -->
        <div class="comment-list" id="cCommentList">
        </div>
      </div>
    </div>
  </div>

  <!-- Artist 포스트 댓글 상세 보기 모달 -->
  <div id="detailAModal" class="modal">
    <div class="modal-content">
      <span class="close-modal" id="detailAModalClose">&times;</span>
      <h2></h2>
      <img id="detailImage" src="" alt="상세 이미지" style="width: 100%; height: auto;"/>
      <p id="detailContent"></p>
      <textarea id="editContent" style="width: 100%; display: none;" placeholder="수정 내용을 입력하세요"></textarea>
      <br>
      <input type="file" id="editPhoto" accept="image/*" style="display: none;" />

      <!-- 댓글창 -->
      <div class="comments-section">
        <h3>댓글</h3>

        <!-- 기존 댓글 -->
        <div class="comment-list" id="aCommentList">
        </div>
      </div>
    </div>
  </div>

</div>
<th:block layout:fragment="footer" th:include="@{fragments/footer}"></th:block>
</body>
<script>
  document.getElementById("update-info-btn").addEventListener("click", function() {
    document.getElementById("content").innerHTML = `
      <h2>비밀번호를 입력해주세요.</h2>
      <form id="pw-input-form">
        <div>
          <label for="email">이메일:</label>
          <label id="email">${sessionEmail}</label>
        </div>
        <div>
          <label for="password">비밀번호:</label>
          <input type="password" id="password" name="password">
        </div>
        <button type="submit" class="submit-btn">확인</button>
      </form>
    `;

    // 비밀번호 입력 버튼 클릭 이벤트
    document.getElementById("pw-input-form").addEventListener("submit", function(event) {
      event.preventDefault();

      const email = sessionEmail;
      const password = document.getElementById("password").value;

      // 비밀번호 일치 여부 조회 API 호출
      ajaxJsonCall('/member/login-in?email=' + email + '&password=' + password, null, function(data) {
        if (data.code === "0000") { // 비밀번호가 일치하다면 개인정보 수정을 위한 form 생성
          document.getElementById("content").innerHTML = `
                <h2>회원정보 수정</h2>
                <form id="info-modify-form">
                  <div style="display: none">
                     <label id="id">${data.data.memId}</label>
                   </div>
                  <div>
                     <label for="name">이름:</label>
                     <label id="name">${data.data.userName}</label>
                   </div>
                  <div>
                    <label for="email">이메일:</label>
                    <label id="email">${email}</label>
                  </div>
                  <div>
                    <label for="password">비밀번호:</label>
                    <input type="password" id="password" name="password">
                  </div>
                  <div>
                    <label for="password">비밀번호 확인:</label>
                    <input type="password" id="passwordConfirm" name="passwordConfirm">
                  </div>
                  <div>
                    <label for="number">전화번호:</label>
                    <input type="text" name="phoneNum" class="form-control" oninput="oninputPhone(this)" maxlength="13" th:field="*{phoneNum}" value="${data.data.phoneNum}">
                  </div>
                  <button type="submit" class="submit-btn">수정</button>
                </form>
              `;

          // '수정' 버튼 클릭 시 이벤트 리스너
          document.getElementById("info-modify-form").addEventListener("submit", validateForm);
        } else {
          alert("비밀번호를 다시 확인해주세요.");
        }
      }, function(error) {
        alert("An error occurred: " + error.message);
      });
    });
  });

  var myPostsPageSize = 10; // 내 글 페이지당 표시할 게시글 수
  var myCommentsPageSize = 7;  // 내 댓글 페이지당 표시할 게시글 수
  var myPostsCurrentPage = 0;
  var myCommentsCurrentPage = 0;
  var type; // 댓글 community/artist 구분
  var selectedPostId;
  // 내 글 상세보기에서 수정중인지 확인하는 flag
  // true: 수정중, false: 수정중X
  var myPostIsEditing = false

  // 내 글 메뉴 클릭 시 내용 변경
  document.getElementById("my-posts-btn").addEventListener("click", function() {
    drawMyPostsTable(myPostsCurrentPage);
  });

  // 내 댓글 메뉴 클릭 시 내용 변경
  document.getElementById("my-comments-btn").addEventListener("click", function() {
    drawCommentTabs();
  });

  // 내 글 보기의 테이블을 그리는 함수
  function drawMyPostsTable(page) {
    ajaxJsonCall('/community/find-my-community?email=' + sessionEmail + '&page=' + page + '&size=' + myPostsPageSize, null, function(data) {
      if (data.code === "0000" && data.data.content.length > 0) {
        document.getElementById("content").innerHTML = `
        <h2>내 포스트</h2>
        <table class="table-class" id="text-table">
          <thead>
            <tr>
              <th class="table-header-text-title">제목</th>
              <th class="table-header-text-date">날짜</th>
            </tr>
          </thead>
          <tbody id="table-body">
          </tbody>
        </table>
        <div id="pagination-container">
        <button id="post-prev-page-btn"><</button>
        <button id="post-next-page-btn">></button>
    </div>
      `;

        var tableBody = document.getElementById("table-body");

        data.data.content.forEach(function (post) {
          var row = `
          <tr id="post-${post.communityId}" class="post-row">
            <td>${post.communityTitle}</td>
            <td>${dateFormat(new Date(post.updateDate))}</td>
          </tr>
        `;

          tableBody.innerHTML += row;
        });

        updatePaginationButtons(data.data.totalPages);

        // 행 클릭 시 상세보기 모달 열기
        tableBody.addEventListener("click", function (event) {
          var targetRow = event.target.closest("tr");
          if (targetRow) {
            var communityId = targetRow.id.split('-')[1];
            getMyPostDetail(communityId);
          }
        });

        $('#post-prev-page-btn').click(function() {
          if (myPostsCurrentPage > 0) {
            myPostsCurrentPage--;
            drawMyPostsTable(myPostsCurrentPage);
          }
        });

        $('#post-next-page-btn').click(function() {
          myPostsCurrentPage++;
          drawMyPostsTable(myPostsCurrentPage);
        });
      } if(data.data.content.length == 0) {
        document.getElementById("content").innerHTML = `
                <h2>작성한 포스트가 없습니다.</h2>
                `;
      }
    });
  }

  // 내 댓글 클릭시 화면 바뀌는 함수
  function drawCommentTabs() {
    document.getElementById("content").innerHTML = `
      <h2>내 댓글</h2>
      <div>
        <button id="community-comments-btn" class="submit-btn">내 커뮤니티 댓글</button>
        <button id="artist-comments-btn" class="submit-btn">내 아티스트 댓글</button>
      </div>
      <div id="comments-content">
        <p>댓글 목록을 보려면 상단 버튼을 클릭하세요.</p>
      </div>
    `;

    // 탭 버튼 이벤트 등록
    document.getElementById("community-comments-btn").addEventListener("click", function() {
      myCommentsCurrentPage = 0;
      drawMyCommentsTable("C", myCommentsCurrentPage);
    });

    document.getElementById("artist-comments-btn").addEventListener("click", function() {
      myCommentsCurrentPage = 0;
      drawMyCommentsTable("A", myCommentsCurrentPage);
    });
  }

  // 내 댓글 테이블 그리기 함수
  function drawMyCommentsTable(type, page) {
    ajaxJsonCall('/comments/find-my-comment?email=' + sessionEmail + '&type=' + type + '&page=' + page + '&size=' + myCommentsPageSize, null, function(data) {
      if (data.code === "0000" && data.data.content.length > 0) {
        document.getElementById("comments-content").innerHTML = `
          <h3>${type === "C" ? "내 커뮤니티 댓글" : "내 아티스트 댓글"}</h3>
          <table class="table-class" id="comments-table">
            <thead>
              <tr>
                <th class="table-header-text-title">내용</th>
                <th class="table-header-text-date">날짜</th>
              </tr>
            </thead>
            <tbody id="comments-table-body">
            </tbody>
          </table>
          <div id="pagination-container">
            <button id="comments-prev-page-btn"><</button>
            <button id="comments-next-page-btn">></button>
          </div>
        `;

        const commentsTableBody = document.getElementById("comments-table-body");

        data.data.content.forEach(function (comment) {
          const row = `
            <tr id="comment-${comment.commentsId}" class="comment-row">
              <td>${comment.commentsContent}</td>
              <td>${dateFormat(new Date(comment.updateDate))}</td>
            </tr>
          `;

          commentsTableBody.innerHTML += row;
        });

        updatePaginationButtons(data.data.totalPages);

        // 행 클릭 시 댓글 상세보기 모달 열기
        commentsTableBody.addEventListener("click", function (event) {
          var targetRow = event.target.closest("tr");
          if (targetRow) {
            var commentsId = targetRow.id.split('-')[1];
            if(type == 'C') { // Community의 댓글 버튼 클릭
              communityDetailComment(commentsId, type);
            } else {  // Artist의 댓글 버튼 클릭
              artistDetailComment(commentsId, type);
            }
          }
        });

        $('#comments-prev-page-btn').click(function() {
          if (myCommentsCurrentPage > 0) {
            myCommentsCurrentPage--;
            drawMyCommentsTable(type, myCommentsCurrentPage);
          }
        });

        $('#comments-next-page-btn').click(function() {
          myCommentsCurrentPage++;
          drawMyCommentsTable(type, myCommentsCurrentPage);
        });
      } else {
        document.getElementById("comments-content").innerHTML = `
          <h3>${type === "C" ? "내 커뮤니티 댓글" : "내 아티스트 댓글"}</h3>
          <p>작성한 댓글이 없습니다.</p>
        `;
      }
    }, function(error) {
      alert("An error occurred: " + error.message);
    });
  }

  // 페이지네이션 버튼 상태 업데이트 함수
  function updatePaginationButtons(totalPages) {
    if(totalPages == 1)
      $('#pagination-container').css('display', 'none');
    // 이전 버튼은 첫 페이지일 때 비활성화
    $('#post-prev-page-btn').prop('disabled', myPostsCurrentPage === 0);
    $('#comments-prev-page-btn').prop('disabled', myPostsCurrentPage === 0);

    // 다음 버튼은 마지막 페이지일 때 비활성화
    $('#post-next-page-btn').prop('disabled', myPostsCurrentPage >= totalPages - 1);
    $('#comments-next-page-btn').prop('disabled', myPostsCurrentPage >= totalPages - 1);
  }

  // 회원 탈퇴 이벤트
  document.getElementById("withdrawal-btn").addEventListener("click", function() {
    var confirmV = confirm("정말로 탈퇴하시겠습니까?");
    if(confirmV) {
      ajaxPostJsonCall('/logout', sessionEmail, function (data) {
        if (data.code === "0000") {
          ajaxPostJsonCall('/member/delete?email=' + sessionEmail, null, function(data) {
            if (data.code === "0000") {
              alert("탈퇴되었습니다.");
              window.location.href = "/";
            }
          }, function(error) {
            alert("An error occurred: " + error.message);
          });
        }
      }, function (error) {
        alert("An error occurred: " + error.message);
      });
    }
  });

  function oninputPhone(target) {
    target.value = target.value
            .replace(/[^0-9]/g, '')
            .replace(/(^02.{0}|^01.{1}|[0-9]{3,4})([0-9]{3,4})([0-9]{4})/g, "$1-$2-$3");
  }

  // 개인정보 수정 유효성 검증
  function validateForm(event) {
    var confirmV = confirm("회원정보를 수정하시겠습니까?")
    if(confirmV) {
      event.preventDefault();

      var form = document.getElementById("info-modify-form");
      var id = document.getElementById("id").innerText;
      var name = document.getElementById("name").innerText;
      var email = document.getElementById("email").innerText;
      var phoneNum = form.querySelector('[name="phoneNum"]');
      var password = form.querySelector('[name="password"]');
      var passwordConfirm = form.querySelector('[name="passwordConfirm"]');

      if (!phoneNum || phoneNum.value === "" || phoneNum.value.length !== 13) {
        alert("올바른 휴대폰 번호를 입력해주세요.");
        return false;
      }

      if (!password || password.value === "" || password.value.length < 7) {
        alert("7글자 이상의 비밀번호를 입력해주세요.");
        return false;
      }

      if(password.value != passwordConfirm.value) {
        alert("비밀번호가 일치하지 않습니다.");
        return false;
      }

      var memberDto = {
        memId: id,
        userName: name,
        phoneNum: phoneNum.value,
        email: email,
        password: password.value,
        flag: sessionFlag,
        createDate: sessionDate
      };

      ajaxPostJsonCall('/member/modify', JSON.stringify(memberDto), function(data) {
        if (data.code === "0000") {
          alert("회원정보가 수정되었습니다.");
          window.location.href = "/mypage-web";
        }
      }, function(error) {
        alert("An error occurred: " + error.message);
      });
    }
  }

  function dateFormat(date) {
    var year = date.getFullYear();
    var month = ('0' + (date.getMonth() + 1)).slice(-2);
    var day = ('0' + date.getDate()).slice(-2);

    var dateString = year + '-' + month  + '-' + day;

    return dateString;
  }

  // 내 글 상세보기
  function getMyPostDetail(communityId) {
    ajaxJsonCall('/community/find-by-id?id='+communityId, null, function(data) {
      if (data.code === "0000") {
        $('#my-post-detail-title').text(data.data.communityTitle);
        $('#my-post-detail-content').html(data.data.communityContent);
        $('#my-post-detail-author').text("작성자: " + data.data.author);
        $('#my-post-detail-date').text("등록일: " + dateFormat(new Date(data.data.updateDate)));
        $('#myPostDetailModal').fadeIn();
        selectedPostId = communityId;
        if(sessionEmail == null || (data.data.author != sessionEmail)) {
          $('#my-post-edit-btn').css('display', 'none');
          $('#my-post-delete-btn').css('display', 'none');
        }

        // 댓글 넣기
        if(data.data.comments.length > 0) {
          document.getElementById("myPostCommentList").innerHTML = ""; // 기존 내용을 초기화
          const sortedComments = data.data.comments.sort((a, b) => new Date(b.updateDate) - new Date(a.updateDate));
          sortedComments.forEach(function(post) {
            var index = post.commentsAuthor.email.indexOf('@');
            var authorName = index > -1 ? post.commentsAuthor.email.substring(0, index) : post.commentsAuthor.email;
            document.getElementById("myPostCommentList").insertAdjacentHTML("beforeend", `
                            <div class="comment" id="myPostComment-${post.commentsId}">
                                <p class="comment-author">${authorName}</p>
                                <p class="comment-text">${post.commentsContent}</p>
                            </div>
                            <hr style="border: solid 0.5px lightgray;">
                        `);
          });
        } else {    // 댓글이 없는 경우
          document.getElementById("myPostCommentList").innerHTML = `
                      <label>댓글이 없습니다.</label>
                    `;
        }
      }
    }, function(error) {
      alert("An error occurred: " + error.message);
    });
  }

  // 내 글 상세보기 수정 버튼 클릭 시
  $('#my-post-edit-btn').click(function () {
    if (!myPostIsEditing) {
      myPostIsEditing = true;

      // 제목과 내용을 input과 textarea로 변경
      var titleText = $('#my-post-detail-title').text();
      var contentHtml = $('#my-post-detail-content').html();
      var contentText = contentHtml.replace(/<br\s*\/?>/gi, '\n');

      $('#label-title').html('<input type="text" id="edit-title" value="' + titleText + '" style="width: 100%;">');
      $('#label-content').html('<textarea id="edit-content" rows="10" style="width: 100%;">' + contentText + '</textarea>');

      // 저장 버튼 표시
      $('#my-post-save-btn').show();
      $('#my-post-edit-btn').hide();
      $('#my-post-delete-btn').hide();
    }
  });

  // 내 글 상세보기 저장 버튼 클릭 시
  $('#my-post-save-btn').click(function () {
    var updatedTitle = $('#edit-title').val();
    var updatedContent = $('#edit-content').val();
    updatedContent = updatedContent.replace(/\n/g, '<br>');
    var author = $('#my-post-detail-author').text();
    author = author.substring(5,author.length);

    var communityDto = {
      communityId: selectedPostId,
      communityTitle: updatedTitle,
      communityContent: updatedContent,
      author: author
    };

    // 서버로 수정된 데이터를 전송 (Ajax)
    ajaxPostJsonCall('/community/modify', JSON.stringify(communityDto), function (data) {
      if (data.code === "0000") {
        alert("포스트가 수정되었습니다.");
        drawMyPostsTable(0);

        // 제목과 내용을 다시 label로 변경
        $('#label-title').html('<span id="my-post-detail-title">' + updatedTitle + '</span>');
        $('#label-content').html('<span id="my-post-detail-content">' + updatedContent + '</span>');

        // 수정 모드 해제
        myPostIsEditing = false;
        $('#my-post-save-btn').hide();
        $('#my-post-edit-btn').show();
        $('#my-post-delete-btn').show();
      }
    }, function (error) {
      alert("An error occurred: " + error.message);
    });
  });

  // 내 글 상세보기 삭제 버튼 클릭 시
  $('#my-post-delete-btn').click(function () {
    if (selectedPostId && confirm("정말로 이 글을 삭제하시겠습니까?")) {
      ajaxPostJsonCall('/community/delete?id=' + selectedPostId, null, function (data) {
        if (data.code === "0000") {
          alert("포스트가 삭제되었습니다.");
          $('#myPostDetailModal').fadeOut();
          drawMyPostsTable(myPostsCurrentPage);
        }
      }, function (error) {
        alert("An error occurred: " + error.message);
      });
    }
  });

  // 다른 댓글이 수정중 상태인지 확인
  var commentEditingState = false;

  var selectedCommunityId;
  // 커뮤니티 글 댓글 상세보기 모달
  function communityDetailComment(commentsId, type) {
    ajaxJsonCall('/comments/find-by-id?id='+commentsId+'&type='+type, null, function(data) {
      if (data.code === "0000") {
        selectedCommunityId = data.data.communityId;
        $('#detail-Ctitle').text(data.data.communityTitle);
        $('#detail-Ccontent').html(data.data.communityContent);
        $('#detail-Cauthor').text("작성자: " + data.data.author);
        $('#detail-Cdate').text("등록일: " + dateFormat(new Date(data.data.updateDate)));
        $('#detailCModal').fadeIn();

        // 댓글 넣기
        if(data.data.comments.length > 0) {
          document.getElementById("cCommentList").innerHTML = ""; // 기존 내용을 초기화
          const sortedComments = data.data.comments.sort((a, b) => new Date(b.updateDate) - new Date(a.updateDate));
          sortedComments.forEach(function(post) {
            var index = post.commentsAuthor.email.indexOf('@');
            var authorName = index > -1 ? post.commentsAuthor.email.substring(0, index) : post.commentsAuthor.email;
            document.getElementById("cCommentList").insertAdjacentHTML("beforeend", `
                            <div class="comment" id="detailCComment-${post.commentsId}">
                                <p class="comment-author">${authorName}</p>
                                <p class="comment-text">${post.commentsContent}</p>
                                <div class="comment-btn-div">
                                    <button class="comment-btn commentEdit" id="cCommentEdit" style="display: none">수정</button>
                                    <button class="comment-btn deleteBtn" id="cCommentDelete" style="display: none">삭제</button>
                                    <button class="comment-btn" id="cCommentEditCancel" style="display: none">취소</button>
                                    <button class="comment-btn" id="cCommentEditSave" style="display: none">저장</button>
                                </div>
                            </div>
                            <hr style="border: solid 0.5px lightgray;">
                        `);
            if(post.commentsId == commentsId) { // 해당 댓글에 배경색 설정
              $('#detailCComment-' + commentsId).css('background-color', 'rgba(232, 217, 255)');
              $('#detailCComment-' + commentsId).find('.comment-btn').css('background-color', 'rgba(232, 217, 255)');
              document.querySelector(`#detailCComment-${post.commentsId} .commentEdit`).style.display = 'block';
              document.querySelector(`#detailCComment-${post.commentsId} .deleteBtn`).style.display = 'block';
            }
          });
        } else {    // 댓글이 없는 경우
          document.getElementById("cCommentList").innerHTML = `
                      <label>댓글이 없습니다.</label>
                    `;
        }
      }
    }, function(error) {
      alert("An error occurred: " + error.message);
    });
  }

  // 이벤트 위임으로 cCommentList 요소의 수정 버튼 클릭 시 처리
  $('#cCommentList').on('click', '#cCommentEdit', function () {
    if(commentEditingState == false) {
      commentEditingState = true;
      var commentElement = $(this).closest('.comment');
      var commentId = commentElement.attr('id').replace('detailCComment-', ''); // 'detailCComment-'를 제거하여 숫자 ID만 남김
      $('#detailCComment-' + commentId).css('background-color', 'transparent');
      $('#detailCComment-' + commentId).find('.comment-btn').css('background-color', 'transparent');
      var commentElement = $(this).closest('.comment');
      var originalContent = commentElement.find('.comment-text').html().replace(/<br\s*\/?>/gi, '\n'); // <br>을 줄바꿈으로 변환

      // 댓글 내용을 textarea로 변경
      commentElement.find('.comment-text').html(`<textarea id="cEditCommentText" style="width:100%;">${originalContent}</textarea>`);

      // 수정, 삭제 버튼 숨기고 저장, 취소 버튼 표시
      commentElement.find('#cCommentEdit, #cCommentDelete').hide();
      commentElement.find('#cCommentEditCancel, #cCommentEditSave').show();
    }
  });

  // community 댓글 수정 -> 취소 버튼 클릭
  $('#cCommentList').on('click', '#cCommentEditCancel', function() {
    commentEditingState = false;
    // 클릭된 수정 버튼의 부모 요소에서 댓글 ID 추출
    var commentElement = $(this).closest('.comment');
    var commentId = commentElement.attr('id').replace('detailCComment-', ''); // 'detailCComment-'를 제거하여 숫자 ID만 남김
    communityDetailComment(commentId, "C");
  });

  // community 댓글 수정 -> 저장 버튼 클릭
  $('#cCommentList').on('click', '#cCommentEditSave', function() {
    // 클릭된 수정 버튼의 부모 요소에서 댓글 ID 추출
    var commentElement = $(this).closest('.comment');
    var commentId = commentElement.attr('id').replace('detailCComment-', ''); // 'detailCComment-'를 제거하여 숫자 ID만 남김

    // 댓글 입력 값 가져오기 및 개행 처리
    var commentsContent = $('#cEditCommentText').val();
    commentsContent = commentsContent.replace(/\n/g, '<br>');

    if(commentsContent != "" || commentsContent != null) {
      var commentsDto = {
        commentsId: commentId,
        commentsContent: commentsContent,
        author: sessionEmail,
        flag: "C",
        communityId: selectedCommunityId
      };
      ajaxPostJsonCall('/comments/modify', JSON.stringify(commentsDto), function (data) {
        if (data.code === "0000") {
          alert("댓글이 수정되었습니다.");
          commentEditingState = false;
          drawMyCommentsTable("C", myCommentsCurrentPage);
          communityDetailComment(commentId, "C");
        }
      }, function (error) {
        alert("An error occurred: " + error.message);
      });
    }
  });

  // community 댓글 삭제 버튼 클릭 이벤트
  $('#cCommentList').on('click', '#cCommentDelete', function () {
    var confirmC = confirm("정말로 댓글을 삭제하시겠습니까?");
    // 클릭된 수정 버튼의 부모 요소에서 댓글 ID 추출
    var commentElement = $(this).closest('.comment');
    var commentId = commentElement.attr('id').replace('detailCComment-', ''); // 'detailCComment-'를 제거하여 숫자 ID만 남김
    if(confirmC) {
      ajaxPostJsonCall('/comments/delete?id=' + commentId, null, function (data) {
        if (data.code === "0000") {
          detailCModal.style.display = "none";
          alert("댓글이 삭제되었습니다.");
          drawMyCommentsTable("C", myCommentsCurrentPage);
        }
      }, function (error) {
        alert("An error occurred: " + error.message);
      });
    }
  });

  var selectedArtistId;

  // 아티스트 글 댓글 상세보기 모달
  function artistDetailComment(commentsId, type) {
    fetch(`/comments/find-by-id?id=${commentsId}&type=${type}`)
            .then(response => {
              if (!response.ok) throw new Error('Network response was not ok ' + response.statusText);
              return response.json();
            })
            .then(result => {
              if (result.code === "0000") {
                const artist = result.data;
                selectedArtistId = artist.artistId;
                // 모달에 데이터를 표시합니다
                if(artist.artistImage != null) {
                  document.getElementById("detailImage").style.visibility="visible"
                  document.getElementById("detailImage").src = artist.artistImage
                          ? 'data:image/jpeg;base64,' + artist.artistImage
                          : '';
                }
                else
                  document.getElementById("detailImage").style.visibility="hidden"
                document.getElementById("detailContent").innerHTML = artist.artistContent.replace(/<br\s*\/?>/g, '<br>');

                // 모달 보이기
                document.getElementById("detailAModal").style.display = "block";

                // 댓글 넣기
                if(artist.comments.length > 0) {
                  document.getElementById("aCommentList").innerHTML = ""; // 기존 내용을 초기화
                  const sortedComments = artist.comments.sort((a, b) => new Date(b.updateDate) - new Date(a.updateDate));
                  sortedComments.forEach(function(post) {
                    var index = post.commentsAuthor.email.indexOf('@');
                    var authorName = index > -1 ? post.commentsAuthor.email.substring(0, index) : post.commentsAuthor.email;
                    document.getElementById("aCommentList").insertAdjacentHTML("beforeend", `
                            <div class="comment" id="detailAComment-${post.commentsId}">
                                <p class="comment-author">${authorName}</p>
                                <p class="comment-text">${post.commentsContent}</p>
                                <div class="comment-btn-div">
                                    <button class="comment-btn commentEdit" id="aCommentEdit" style="display: none">수정</button>
                                    <button class="comment-btn deleteBtn" id="aCommentDelete" style="display: none">삭제</button>
                                    <button class="comment-btn" id="aCommentEditCancel" style="display: none">취소</button>
                                    <button class="comment-btn" id="aCommentEditSave" style="display: none">저장</button>
                                </div>
                            </div>
                            <hr style="border: solid 0.5px lightgray;">
                        `);

                    if(post.commentsId == commentsId) { // 해당 댓글에 배경색 설정
                      $('#detailAComment-' + commentsId).css('background-color', 'rgba(232, 217, 255)');
                      $('#detailAComment-' + commentsId).find('.comment-btn').css('background-color', 'rgba(232, 217, 255)');
                      document.querySelector(`#detailAComment-${post.commentsId} .commentEdit`).style.display = 'block';
                      document.querySelector(`#detailAComment-${post.commentsId} .deleteBtn`).style.display = 'block';
                    }
                  });
                } else {    // 댓글이 없는 경우
                  document.getElementById("aCommentList").innerHTML = `
                      <label>댓글이 없습니다.</label>
                    `;
                }

              } else {
                console.error('Error fetching artist detail: ', result.message);
              }
            })
            .catch(error => console.error('Error fetching artist detail:', error));
  }

  // 이벤트 위임으로 aCommentList 요소의 수정 버튼 클릭 시 처리
  $('#aCommentList').on('click', '#aCommentEdit', function () {
    if(commentEditingState == false) {
      commentEditingState = true;
      var commentElement = $(this).closest('.comment');
      var commentId = commentElement.attr('id').replace('detailAComment-', ''); // 'detailAComment-'를 제거하여 숫자 ID만 남김
      $('#detailAComment-' + commentId).css('background-color', 'transparent');
      $('#detailAComment-' + commentId).find('.comment-btn').css('background-color', 'transparent');

      var commentElement = $(this).closest('.comment');
      var originalContent = commentElement.find('.comment-text').html().replace(/<br\s*\/?>/gi, '\n'); // <br>을 줄바꿈으로 변환

      // 댓글 내용을 textarea로 변경
      commentElement.find('.comment-text').html(`<textarea id="aEditCommentText" style="width:100%;">${originalContent}</textarea>`);

      // 수정, 삭제 버튼 숨기고 저장, 취소 버튼 표시
      commentElement.find('#aCommentEdit, #aCommentDelete').hide();
      commentElement.find('#aCommentEditCancel, #aCommentEditSave').show();
    }
  });

  // artist 댓글 수정 -> 취소 버튼 클릭
  $('#aCommentList').on('click', '#aCommentEditCancel', function() {
    // 클릭된 수정 버튼의 부모 요소에서 댓글 ID 추출
    var commentElement = $(this).closest('.comment');
    var commentId = commentElement.attr('id').replace('detailAComment-', ''); // 'detailAComment-'를 제거하여 숫자 ID만 남김
    commentEditingState = false;
    artistDetailComment(commentId, "A");
});

  // artist 댓글 수정 -> 저장 버튼 클릭
  $('#aCommentList').on('click', '#aCommentEditSave', function() {
    // 클릭된 수정 버튼의 부모 요소에서 댓글 ID 추출
    var commentElement = $(this).closest('.comment');
    var commentId = commentElement.attr('id').replace('detailAComment-', ''); // 'detailAComment-'를 제거하여 숫자 ID만 남김
    // artist 댓글 입력 값 가져오기 및 개행 처리
    var commentsContent = $('#aEditCommentText').val();
    commentsContent = commentsContent.replace(/\n/g, '<br>');

    if(commentsContent != "" || commentsContent != null) {
      var commentsDto = {
        commentsId: commentId,
        commentsContent: commentsContent,
        author: sessionEmail,
        flag: "A",
        artistId: selectedArtistId
      };
      ajaxPostJsonCall('/comments/modify', JSON.stringify(commentsDto), function (data) {
        if (data.code === "0000") {
          alert("댓글이 수정되었습니다.");
          commentEditingState = false;
          drawMyCommentsTable("A", myCommentsCurrentPage);
          artistDetailComment(commentId, "A");
        }
      }, function (error) {
        alert("An error occurred: " + error.message);
      });
    }
  });

  // artist 댓글 삭제 버튼 클릭 이벤트
  $('#aCommentList').on('click', '#aCommentDelete', function () {
    var confirmC = confirm("정말로 댓글을 삭제하시겠습니까?");
    // 클릭된 수정 버튼의 부모 요소에서 댓글 ID 추출
    var commentElement = $(this).closest('.comment');
    var commentId = commentElement.attr('id').replace('detailAComment-', ''); // 'detailAComment-'를 제거하여 숫자 ID만 남김
    if(confirmC) {
      ajaxPostJsonCall('/comments/delete?id=' + commentId, null, function (data) {
        if (data.code === "0000") {
          detailAModal.style.display = "none";
          alert("댓글이 삭제되었습니다.");
          drawMyCommentsTable("A", myCommentsCurrentPage);
        }
      }, function (error) {
        alert("An error occurred: " + error.message);
      });
    }
  });

  var detailClose = document.getElementById("myPostDetailModalClose");
  var detailCCommentClose = document.getElementById("detailCModalClose");
  var detailACommentClose = document.getElementById("detailAModalClose");

  // X 버튼 클릭 시 모달 닫기
  detailClose.onclick = function() {
    myPostDetailModal.style.display = "none";
    if (myPostIsEditing) {
      // 현재 입력 중이던 내용을 다시 label로 복구
      var titleText = $('#edit-title').val();
      var contentText = $('#edit-content').val();

      $('#label-title').html('<h3 id="my-post-detail-title">' + titleText + '</h3>');
      $('#label-content').html('<span id="my-post-detail-content">' + contentText + '</span>');

      // 저장 버튼 숨기고 수정 버튼 보이기
      $('#my-post-save-btn').hide();
      $('#my-post-edit-btn').show();
      $('#my-post-delete-btn').show();

      myPostIsEditing = false;
    }
  }

  detailCCommentClose.onclick = function() {
    detailCModal.style.display = "none";
    commentEditingState = false;
  }

  detailACommentClose.onclick = function() {
    detailAModal.style.display = "none";
    commentEditingState = false;
  }



</script>
</html>
